/* GENERAL PRESET*/

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  max-width: 1440px;
  min-width: 950px;
  margin: 0 auto;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}


/* HEADER*/

.logo {
margin-bottom: 50px;
border-right: 1px solid lightgray;
width: 350px;
}




/* HEADER - MENU */

nav ul {
  list-style: none;
}
 nav ul li a {
  display: inline-block;
  padding-right: 15px;
  text-transform: uppercase;
  color: grey;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.menu {
  background-color: #ffffff;
  margin-bottom: 20px;
}


/* HEADER - ARTICLE TOP */

.article-top-1 {
  margin-top: 50px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 490px;
  overflow: hidden;
  border-radius: 10px;
  color: white;
}

.overlay > div {
  padding-left: 70px;
  padding-top: 250px;
}

.text-top-1 {
  padding-right: 300px;
  font-size: 38px;
  font-weight: 600;
}

.text-top-2 {
  font-size: 18px;                                              
  padding-right: 400px;
}


/* MAIN - HEADING*/

main {
  text-align: left;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 37px;
  font-weight: bold;
  text-transform: capitalize;
}

.main-title {
  margin: 3% 0;
}


/* MAIN - ARTICLES */

h3 {
  color: black;
}

.middle {
  background-size: cover;
  background-position: center;
  height: 530px;
  width: 20%;
  overflow: hidden;
  border-radius: 10px;
  color: white;
  float: left;
  /* background-color: blueviolet; */
}

.left-image {
  display: inline-block;
  background-image: url(../img/img-1.jpg);
  height: 200px;
  width: 100%;
}

.center {
  background-size: cover;
  background-position: center;
  width: 56%;
  min-height: 530px;
  margin: 0 2%;
  float: left;
  color: white;
  /* background-color: blueviolet; */
}

.center-image {
  background-image: url(../img/banner-2.jpg);
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.right-image {
  background-image: url(../img/img-3.jpg);
  height: 200px;
  width: 100%;
}

.middle-text {
  color: grey;
}


/* FOOTER */

.credits {
  padding: 10px;
  margin: 1% 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.credits::after {
  content: '\01F9E1';
}
